@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~swiper/css";
@import "~swiper/css/a11y";
@import "~swiper/css/navigation";
@import "~swiper/css/keyboard";
@import "~swiper/css/thumbs";
@import "~swiper/css/pagination";

@layer components {
  html {
    height: 100%;
    box-sizing: border-box;
    touch-action: manipulation;
    font-feature-settings: "case" 1, "rlig" 1, "calt" 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html,
  body {
    @apply bg-white dark:bg-black font-body;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior-x: none;
  }

  body {
    position: relative;
    min-height: 100%;
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    @apply w-3;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-accent-500 dark:bg-accent-600;
  }
  ::-webkit-scrollbar-track {
    @apply bg-white dark:bg-black;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
